<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />-->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name="com.example.myapplication.ui.theme.transaction.SellitemActivity"
            android:exported="true"
            android:label="Sell_Item"
            android:theme="@style/Theme.AppCompat"
            >
        </activity>

        <activity
            android:name=".ui.theme.transaction.BuyitemActivity"
            android:exported="true"
            android:label="Buy_Item"
            android:theme="@style/Theme.AppCompat"
            >
        </activity>

        <activity
            android:name=".ui.theme.login.login"
            android:exported="true"
            android:label="login"
            android:theme="@style/Theme.AppCompat"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.theme.login.join_membership"
            android:exported="true"
            android:label="join"
            android:theme="@style/Theme.AppCompat"
            >
        </activity>

        <activity
            android:name=".ui.theme.main.MainPage"
            android:exported="true"
            android:label="Main_page"
            android:theme="@style/Theme.AppCompat"
            >
        </activity>

        <activity
            android:name=".ui.theme.login.search_id_pass"
            android:exported="true"
            android:label="Main_page"
            android:theme="@style/Theme.AppCompat"
            >
        </activity>

        <activity
            android:name=".ui.theme.community.ListActivity"
            android:exported="true"
            android:label="Main_page"
            android:theme="@style/Theme.AppCompat"
            >
        </activity>

        <activity
            android:name=".ui.theme.community.RegisterActivity"
            android:exported="true"
            android:label="Main_page"
            android:theme="@style/Theme.AppCompat"
            >
        </activity>

        <activity
            android:name=".ui.theme.community.DetailActivity"
            android:exported="true"
            android:label="Main_page"
            android:theme="@style/Theme.AppCompat"
            >
        </activity>

        <activity
            android:name=".ui.theme.api.UseApi"
            android:exported="true"
            android:label="Main_page"
            android:theme="@style/Theme.AppCompat"
            >
        </activity>

        <service android:name="com.google.firebase.components.ComponentDiscoveryService" />

        <receiver android:name=".ui.theme.api.ActivityDetectionBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name=".ui.theme.api.UseApi.activity_intent_filter" />
            </intent-filter>
        </receiver>


    </application>

</manifest>